@import url('https://fonts.googleapis.com/css?family=Gugi|PT+Sans');

.App {
  text-align: center;
  
}
.Header {
  letter-spacing: 5px;
  font-family: 'Gugi', cursive;
  color: #443e3e;  
  text-shadow: 1px 1px 5px #fff;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #F16D39, 0 0 40px #F16D39, 0 0 50px #F16D39, 0 0 60px #F16D39, 0 0 70px #F16D39;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #f69a39, 0 0 40px #f69a39, 0 0 50px #f69a39, 0 0 60px #f69a39, 0 0 70px #f69a39, 0 0 80px #f69a39 }
}

/* write your parent styles in here for your App.js */
